body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
    /*padding: 6rem;*/

}

/*.navbar {*/
/*    background-color: #004080;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*}*/

/*.navbar a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    margin-left: 1rem;*/
/*}*/

/*.navbar a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*footer {*/
/*    background-color: #222;*/
/*    color: #eee;*/
/*    text-align: center;*/
/*    padding: 1rem;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/